html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Special Elite', cursive;
    background: #000;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: color,background-color;
    transition-duration: 3s;
}

blockquote {
    font-weight: 100;
    font-size: 2.5vmax;
    max-width: 70%;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

blockquote:before,
blockquote:after {
    position: absolute;
    font-size: 8vmax;
    width: 4vmax;
    height: 4vmax;
}

blockquote:before {
    content: '“';
    left: -5vmax;
    top: -2vmax;
}

blockquote:after {
    content: '”';
    right: -5vmax;
    bottom: 1vmax;
}

cite {
    line-height: 3;
    text-align: left;
    font-size: 2vmax;
}

div#mostVisited {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: wrap;
}

div#mostVisited a {
    display: block;
    margin: 1.5vw;
    width: 7vw;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    height: 10vh;
    padding: 9px;
}