html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Special Elite', cursive;
    background: #fff;
    color: #f1efe6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 3s;
}

blockquote {
    font-weight: 100;
    font-size: 2.5vmax;
    max-width: 70%;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #f1efe6;
    font-size: 8vmax;
    width: 4vmax;
    height: 4vmax;
}

blockquote:before {
    content: '“';
    left: -5vmax;
    top: -2vmax;
}

blockquote:after {
    content: '”';
    right: -5vmax;
    bottom: 1vmax;
}

cite {
    line-height: 3;
    text-align: left;
    font-size: 2vmax;
}