body {
    font-size: 12px;
}

.dropdown-trigger {
    color: var(--theme-primary);
    font-size: 14px !important;
}

.dropdown-content>li>span {
    color: var(--theme-primary);
    font-size: 14px;
}

.selectLabel {
    font-size: 14px;
}

#status {
    font-size: 13px;
}