    @font-face {
        font-family: 'Special Elite';
        font-style: normal;
        font-weight: 400;
        src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v10/XLYgIZbkc4JPUL5CVArUVL0ntnAOTQ.ttf) format('truetype');
    }

    .theme-color1 {
        color: #4b2746 !important;
    }

    .theme-color2 {
        color: #fdc473 !important;
    }