    @font-face {
        font-family: 'Special Elite';
        font-style: normal;
        font-weight: 400;
        src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v10/XLYgIZbkc4JPUL5CVArUVL0ntnAOTQ.ttf) format('truetype');
    }

    :root {
        --theme-primary: #4b2746;
        --theme-secondary: #fdc473;
    }

    .theme-color1 {
        color: var(--theme-primary) !important;
    }

    .theme-color2 {
        color: var(--theme-secondary) !important;
    }